<div class="common">
  <div class="container border_around lk">
    <h1 class="cloud-text cloud-title">Добавить (ОБНОВИТЬ!!!)аниматора</h1>
    <hr>
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <img src="../../../../assets/img/pic2.jpg" class="avatar img-circle" alt="avatar">
          <h6>Добавьте фото</h6>
          <input type="file" class="form-control-file">
        </div>
      </div>
      <div class="col-md-9 personal-info">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-lg-3 control-label">ФИО:</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" value="Гендальф Белый">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Описание:</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" value="В дела мудрецов носа не суй — голову потеряешь.">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Девиз:</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" value="Ты не пройдешь">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Возраст:</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" value="300 людских жизней">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Цена в рублях:</label>
            <div class="col-lg-9">
              <input class="form-control" type="text" value="У вас нет столько монет">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="buttonSave"></label>
            <div class="col-md-5 center-block">
              <button id="buttonSave" name="singlebutton" class="btn btn-primary center-block">
                Сохранить
              </button>
            </div>
            <div id="blockbuttonCancel" class="col-md-1" style="margin-left:-100px">
              <button id="buttonCancel" name="singlebutton" class="btn btn-primary center-block"
              (click)="goBack()">
                Вернуться
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <hr>
  </div>
</div>
