<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script src="../../assets/js/main.js"></script>
</head>
<div id="blue">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Узнайте больше о нас</h4>
        <p>Мы - весёлые ребята.</p>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!--  bluewrap -->

<div class="container w">
  <div class="row centered">
    <br><br>
    <div class="col-lg-3">
      <!--TODO: загрузка из json-->
      <img class="img-circle" src="../../assets/img/pic.jpg" width="110" height="110" alt="">
      <h4>Frank Lampard</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form.</p>
      <p><a href="#">@Frank_BlackTie</a></p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3">
      <img class="img-circle" src="../../assets/img/pic2.jpg" width="110" height="110" alt="">
      <h4>David Wright</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form.</p>
      <p><a href="#">@David_BlackTie</a></p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3">
      <img class="img-circle" src="../../assets/img/pic3.jpg" width="110" height="110" alt="">
      <h4>Mark Milestone</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form.</p>
      <p><a href="#">@Mark_BlackTie</a></p>
    </div>
    <!-- col-lg-3 -->

    <div class="col-lg-3">
      <img class="img-circle" src="../../assets/img/pic4.jpg" width="110" height="110" alt="">
      <h4>Tania Tissen</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form.</p>
      <p><a href="#">@Tania_BlackTie</a></p>
    </div>
    <!-- col-lg-3 -->

  </div>
  <!-- row -->
  <br>
  <br>
</div>
<!-- container -->


<!-- PORTFOLIO SECTION -->
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>Наша специализация</h4>
      <br>
      <!-- First Chart -->
      <div *ngFor="let chartData of chartDataset">
        <div class="col-lg-3">
          <canvas baseChart
                  [data]="chartData.data"
                  [labels]="doughnutChartLabels"
                  [chartType]="'doughnut'"
                  [legend]="legend"
                  [options]="chartOptions"
                  [colors]="colors">
          </canvas>
          <br>
          <p><b>{{chartData.name}}</b></p>
          <p><small>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form.</small></p>
        </div>
      </div>
    </div>
    <!-- /col-lg-3 -->
  </div>
  <!-- row -->
</div>
<!-- container -->
<!-- DG -->
<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Мы работаем для души.</h4>
        <p>Мы верим, что каждый человек достоин хорошего отдыха в душевной компании с друзьями. Так почему бы не
          устроить этот отдых? Позовите наших ребят и ваш праздник станет незабываемым, а хорошие впечатления останутся
          на всю жизнь. </p>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
      class="fa fa-dribbble"></i></a>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
