<!-- navbar - это хедер; inverse - цвет, fixed-top - фиксированное положение -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                T <i class="fa fa-star"></i>
                M <i class="fa fa-star"></i>
                D <i class="fa fa-star"></i>
            </a>
        </div>
        <ul class="nav navbar-nav navbar-right d-sm-flex">
            <li class="active"><a routerLink="/">Домой</a></li>
            <li><a routerLink="/about">О нас</a></li>
            <li><a routerLink="/events">Наши мероприятия</a></li>
            <li *ngIf="role === 'customer'"><a routerLink="/book">Заказать</a></li>
            <li *ngIf="role === 'unauthorized'"><a routerLink="/login">Войти</a></li>
            <li *ngIf="role !== 'unauthorized'" class="dropdown">
                <button class="dropbtn">{{userName}}</button>
                <div class="dropdown-content">
                    <a routerLink="/orders-view" *ngIf="role === 'admin'">Заказы</a>
                    <a routerLink="/orders-view" *ngIf="role === 'customer'">Мои заказы</a>
                    <a routerLink="/accounts-view" *ngIf="role === 'admin'">Аккаунты</a>
                    <a routerLink="/animators-view" *ngIf="role === 'admin'">Аниматоры</a>
                    <a routerLink="/change-profile">Изменить профиль</a>
                    <a (click)="logout()">Выйти</a>
                </div>
            </li>
        </ul>
    </div>
</div>
