<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <!-- Author Meta -->
  <meta name="author" content="CodePixar">
  <!-- Meta Description -->
  <meta name="description" content="">
  <!-- Meta Keyword -->
  <meta name="keywords" content="">
  <!-- meta character set -->
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,500,600" rel="stylesheet">
  <link rel="stylesheet" href="events.component.css">
  <!--
  CSS
  ============================================= -->

</head>
<body>
<div class="main-wrapper-first">
  <div class="banner-area">
    <div class="container">
      <div class="row justify-content-center height align-items-center">
        <div class="col-lg-8 center-align">
          <div class="banner-content" id="event">
            <h1 class="text-white text-uppercase">Наши мероприятия проходят незабываемо</h1>
            <a routerLink="/about"   class="primary-btn d-inline-flex align-items-center"><span class="mr-10">Узнайте о нас больше</span><span class="lnr lnr-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
      <section class="featured-area">
        <div class="cloud-text text-center">
          <h3>Наши мероприятия  </h3>
        </div>
      </section>
  <section class="service-area">
    <div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/s1.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">Креативный подход</h6>
            <p >Хотите, чтобы аниматор привез с собой букет роз? Не вопрос! Напишите нам в службу поддержки и мы обязательно передадим ему ваше пожелание</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/s2.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">Выпускной</h6>
            <p>Все наши праздники проходят просто отпадно, вам обязательно сорвет крышу и вы оттянетесь по полной, да! </p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/s3.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">Совместные квесты</h6>
            <p  >Уверяем вас, на наших праздниках вам никогда не станет скучно, наши совместные квесты помогут сблизить любую компанию и позволят вам здорово повеселиться </p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/s4.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">День Рождения в виде "Water Party"</h6>
            <p  >Если вы родились в один жарких летних дней, почему бы не провести его на прохладном берегу моря? Серфинг, коктейли, пляж - наш аниматор устроит вам настоящий отдых</p>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/288712.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">Наши сотрудники не любят пить (ну почти)</h6>
            <p  >Конечно же, ни один юбилей или свадьба не обходится без выпивки, но наши сотрудники сильны духом и хотят сохранять трезвое состояние, поэтому не пытайтесь их напоить, у вас не получится >:)</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/s5.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase">Любите воду?</h6>
            <p  >Наши сотрудники с легкостью устроят вам праздник на пароме или катере, только скажите об этом</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/72183660-cheering-crowd-at-a-rock-concert.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase ">Зажигательные праздники</h6>
            <p  >Юбилеи, дни рождения, свадьбы, выпускные - любой из этих праздников останется в вашей памяти на всю жизнь, как один из самых ярких и радостных, стоит лишь позвать наших ребят</p>
          </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="thumbnail">
          <img src="../../assets/images_events/music.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <h6 class="text-uppercase ">Живая музыка</h6>
            <p  >Половина наших аниматоров - превосходные музыканты с потрясающими данными, ох, как же они поют...</p>
          </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- Start Amazing Works Area -->
</div>

<div class="main-wrapper">
  <section class="featured-area">
          <div class="cloud-text text-center">
            <h3>Окунитесь в мир праздника</h3>
          </div>
  </section>
  <!-- End Amazing Works Area -->
  <!-- Start Story Area -->
  <section class="story-area">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-3">
          <div class="story-title">
            <h3 class="text-white">Это только начало</h3>
            <span class="text-uppercase text-white">Позвольте нам устроить вам праздник</span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="story-box">
            <h6 class="text-uppercase">Лишь малая часть</h6>
            <p>Наша история берет истоки еще из начала 2000-х годов, когда процесс организации праздников был времязатратным и трудоёмким. Узнайте о нас больше, познакомьтесь с нашими ребятами и мы обещаем, что ваш праздник станет просто волшебным.</p>
            <a routerLink="/about" class="primary-btn hover d-inline-flex align-items-center"><span class="mr-10">Узнать о нас больше</span><span class="lnr lnr-arrow-right"></span></a >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Story Area -->
  <section class="footer-widget-area">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="single-widget d-flex flex-wrap justify-content-between">
              <span class="lnr lnr-pushpin">
                <i class="fa fa-search-plus fa-5x" aria-hidden="true"></i>
              </span>
            <div class="desc">
              <h6 class="title text-uppercase" style="color: black">Адрес</h6>
              <p style="color: black">Holiday street, 54, Ireland</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-widget d-flex flex-wrap justify-content-between">
              <span class="lnr lnr-earth">
                <i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
              </span>
            <div class="desc">
              <h6 class="title text-uppercase" style="color: black">Служба поддержки</h6>
              <div class="contact" style="color: black">info@support.com <br>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-widget d-flex flex-wrap justify-content-between">
              <span class="lnr lnr-phone">
                    <i class="fa fa-life-ring fa-5x" aria-hidden="true"></i>
              </span>
            <div class="desc">
              <h6 class="title text-uppercase" style="color: black">Номер телефона</h6>
              <div class="contact" style="color: black">
                012 4562 982 3612
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Footer Widget Area -->
  <!-- Start footer Area -->
  <footer>
    <div class="container">
      <div class="footer-content d-flex justify-content-between align-items-center flex-wrap">
        <div class="copy-right-text"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
      </div>
    </div>
  </footer>
  <!-- End footer Area -->
</div>
</body>
