<div class="lk"
     style="background-image: url('../../../assets/images/background_dream.jpg');
     -moz-background-size: 100%; /* Firefox 3.6+ */
      -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
      -o-background-size: 100%; /* Opera 9.6+ */
      background-size: 100%; /* Современные браузеры */
       filter: brightness(100%);">
  <div class="border_around">
    <p class="cloud-text cloud-title card-block" style='margin-top: 0px'>
      Список пользователей
    </p>
    <div class="col-md-12 text-center">
    </div>

  </div>
</div>
<swal
  #deleteSwal
  title="Удалить пользователя?"
  text="Все заказы пользователя также будут удалены!"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="deleteAccount(this.accountToDelete)">
</swal>
<div class="container-xl" style='font-family: "Lato", sans-serif !important;'>
  <div class="table-responsive" style="margin-top: 0 !important;">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <h2>Пользователи</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>Телефон</th>
          <th>ФИО</th>
          <th>Кол-во бронирований</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let acc of accounts">
          <td>{{acc.phone}}</td>
          <td>{{acc.name}}</td>
          <td>{{acc.ordersCount}}</td>
        </tr>
        </tbody>
      </table>
      <p *ngIf="accounts.length === 0" class="empty">
        Здесь пока пусто. <i class="fa fa-star-half-empty"></i> Пользователей нет!
      </p>
    </div>
  </div>
</div>

