<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Войти в аккаунт</title>
</head>
<body>

<div class="main">

  <section class="signup">
    <div class="container">
      <div class="signup-content">
        <form method="POST" id="signup-form" class="signup-form">
          <h2 class="form-title">Войти в аккаунт</h2>
          <div class="form-group">
            <input type="text" class="form-input" name="phone-number" pattern="[7-9]{1}[0-9]{10}"  placeholder="7XXXXXXXXXX" style="margin-top: 30px" required>
              <input type="text" class="form-input" name="password"  [type]="type" id="myInput" placeholder="Пароль" style="margin-top: 30px; margin-bottom: 20px " required/>
              <input type="checkbox" (click)="myFunction()">   Показать пароль
          </div>
          <div class="form-group">
            <input type="submit" name="submit" id="submit" class="form-submit" value="Авторизация"/>
          </div>
        </form>
        <p class="loginhere">
          Хотите зарегистрироваться? <a href="#" class="loginhere-link">Продолжите здесь</a>
        </p>
      </div>
    </div>
  </section>

</div>

<!-- JS -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
