

<div id="header-wrap">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2"> <!-- Для больших экранов 8 блоков; смещение 2 блока (отцентровали)-->
        <h1>Тамада<b> на заказ</b></h1>
        <h2>Party hard</h2>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<div class="container w">
  <div class="row centered">
    <br><br>
    <div class="col-lg-4">
      <i class="fa fa-heart"></i>
      <h4>Душевная атмосфера</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even believable.</p>
    </div>
    <!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-laptop"></i>
      <h4>Служба поддержки</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even believable.</p>
    </div>
    <!-- col-lg-4 -->

    <div class="col-lg-4">
      <i class="fa fa-trophy"></i>
      <h4>Высокое качество</h4>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
        some form, by injected humour, or randomised words which don't look even believable.</p>
    </div>
    <!-- col-lg-4 -->
  </div>
  <!-- row -->
  <br>
  <br>
</div>
<div id="dg">
  <div class="container">
    <div class="row centered">
      <h4>Наши мероприятия</h4>
      <br>
      <div class="col-lg-4">
        <div class="tilt">
          <a href="#"><img
            src="https://images.unsplash.com/photo-1536940385103-c729049165e6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80"
            width="350" height="500" style="border-radius: 25px; margin-bottom: 5px" alt=""></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="tilt">
          <a href="#"><img
            src="https://images.unsplash.com/photo-1577794678468-b52b7d867388?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=701&q=80"
            width="350" height="500" style="border-radius: 25px; margin-bottom: 5px" alt=""></a>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="tilt">
          <a href="#"><img
            src="https://images.unsplash.com/photo-1595732301236-42a26208b2fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
            width="350" height="500" style="border-radius: 25px;" alt=""></a>
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<div class="container wb">
  <div class="row centered">
    <br><br>
    <div class="col-lg-8 col-lg-offset-2">
      <h4>Мы придерживаемся классики</h4>
      <p>Никаких пошлых шуток или несмешных анекдотов. Наши сотрудники обладают великолепным чувством юмора и смогут
        зажечь любой коллектив! :) Также, в стоимость услуг тамады входят фейерверки (отличное настроение в
        подарок).</p>
      <p><br/><br/></p>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-10 col-lg-offset-1">
      <img class="img-responsive"
           src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
           style="border-radius: 25px;" alt="">
    </div>
  </div>
  <!-- row -->
</div>

<div id="lg">
  <div class="container">
    <div class="row centered">
      <h4>Наши клиенты</h4>
      <div class="col-lg-2 col-lg-offset-1">
        <img src="../../assets/img/c01.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/c02.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/c03.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/c04.gif" alt="">
      </div>
      <div class="col-lg-2">
        <img src="../../assets/img/c05.gif" alt="">
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- dg -->
<div id="r">
  <div class="container">
    <div class="row centered">
      <div class="col-lg-8 col-lg-offset-2">
        <h4>Мы работаем для души.</h4>
        <p>Мы верим, что каждый человек достоин хорошего отдыха в душевной компании с друзьями. Так почему бы не
          устроить этот отдых? Позовите наших ребят и ваш праздник станет незабываемым, а хорошие впечатления останутся
          на всю жизнь. </p>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>
<!-- FOOTER -->
<div id="f">
  <div class="container">
    <div class="row centered">
      <a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
      class="fa fa-dribbble"></i></a>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</div>


