<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Тамада</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <!-- JavaScript Libraries -->
  <!-- Template Main Javascript File -->
</head>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>
<!-- navbar - это хедер; inverse - цвет, fixed-top - фиксированное положение -->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">ST<i class="fa fa-star"></i>R</a>
    </div>
    <ul class="nav navbar-nav navbar-right d-sm-flex">
      <li class="active"><a routerLink="/">Домой</a></li>
      <li><a routerLink="/about">О нас</a></li>
      <li><a routerLink="/login">Войти</a></li>
      <li><a href="#">Наши мероприятия</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i></a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<!-- Footer -->
<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights <strong>Random people</strong>. All Rights Reserved
    </p>
    <div class="credits">
      <a>Created by my tired hands</a>
    </div>
  </div>
</div>
</body>
</html>
