<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Тамада</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <!-- JavaScript Libraries -->
  <!-- Template Main Javascript File -->
</head>
<script src="https://www.w3schools.com/lib/w3.js"></script>
<body>
<app-navbar></app-navbar>
<div [@routeAnimations]="o && o.activatedRouteData && o.activatedRouteData['animation']">
  <router-outlet #o="outlet"></router-outlet>
</div>
<!-- Footer -->
<div id="copyrights">
  <div class="container">
    <p>
      &copy; Copyrights <strong>Random people</strong>. All Rights Reserved
    </p>
    <div class="credits">
      <a>Created by my tired hands</a>
    </div>
  </div>
</div>
</body>
</html>
