<div class="lk" style="background-image: url('../../../assets/images/background_dream.jpg'); -moz-background-size: 100%; /* Firefox 3.6+ */
      -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
      -o-background-size: 100%; /* Opera 9.6+ */
      background-size: 100%; /* Современные браузеры */
       filter: brightness(100%);">
  <div class="border_around">
    <p class="cloud-text cloud-title card-block" style='margin-top: 0px'>
    Список аниматоров
    </p>
    <div class="col-md-12 text-center">
    <button type="button" class="btn btn-success" style="background-color: #5cb85c !important; margin-top:20px; font-family: 'Lato', sans-serif">
      Создать
    </button>
    </div>

  </div>
</div>
<div class="container-xl" style='font-family: "Lato", sans-serif !important;'>
  <div class="table-responsive" style="margin-top: 0 !important;">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-4">
            <h2>Аниматоры</h2>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th style="width:20%">ФИО</th>
          <th style="width:20%">Описание</th>
          <th style="width:20%">Девиз</th>
          <th style="width:10%">Возраст</th>
          <th style="width:10%">Цена</th>
          <th style="width:10%"></th>
          <th style="width:10%"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Вечно молодой</td>
          <td>Вечно пьяный</td>
          <td>Чилль, а не Корунову хреначь</td>
          <td>30</td>
          <td>10000</td>
          <td>
            <button type="button" class="btn btn-success" style="background-color: #5cb85c !important;">
              Обновить
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-danger" style="background-color: #d9534f !important;">Удалить</button>
          </td>
        </tr>
        </tbody>
      </table>
      <p class="empty" style="display: none">
        Здесь пока пусто. <i class="fa fa-star-half-empty"></i> Создайте аниматора!
      </p>
    </div>
  </div>
</div>

